<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">
                    Cotação em {{ priceDate | dateBr}}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div>
                    <h2>
                        {{conversion.value}}
                        {{conversion.currencyFrom}}
                        =
                        {{convertedValue}}
                        {{conversion.currencyTo}}

                    </h2>
                    <p>1 {{conversion.currencyFrom }} =
                        {{priceTo}} {{conversion.currencyTo}} /
                        1 {{conversion.currencyTo}} =
                        {{priceFrom}} {{conversion.currencyFrom}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Nova consulta
                </button>
            </div>
        </div>
    </div>
</div>